body {
    font-family: Titillium Web,sans-serif;
    margin: 0;
    padding: 0;
}
.header{
	margin-bottom: 56px;
}
.font-awesome{
	margin-right: 10px;
}
.sidebar{
	color: black;
	background-color: #F9FAFC;
	height: 500px;
	border-right: 2px solid #E5E5E5;
	height: 100%;
}
a.nav-link {
    color: #444444;
    font-size: 15px;
}